@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald&family=Signika+Negative:wght@700&family=Teko:wght@500&family=Tiro+Bangla:ital@1&display=swap');
@import url('asset\animation.scss');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}


.header {
    width: 100%;
    background-color: blue;
    padding: 14px 89px 13px 89px; 
    flex-shrink: 0;
    background: var(--White, #FFF);
    /* Shadow/Badge */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header img {
    width: 197px;
    height: 36px;
    padding: 0px 19px 0px 16px;
}

.localisation {
    background: var(--Grey-2, #EAEAEA);
    width: 100%;  
    height: 50px;
    gap: 17px;
}

.header,.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,h2,h3,p1,p2,p3 {
    color: var(--Grey, #353535);
    /* Button */
    font-family: cursive;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*section*/

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    h2{
        color: #000;
        text-align: center;       
        /* Section Title */
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
    }
}

.menu_reservation-card {
    margin: 40px;

    p1{
        color: var(--Grey, #353535);
        text-align: center;
        /* Paragraph */
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;    
    }

    button.filter__dark {
        align-self: center;
        background: linear-gradient(170deg, #ff79da, #9747ff);
        font-size: large;
        border: none;
        margin: 30px;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 25px;
        color: white;
        cursor: pointer;
        box-shadow: 4px 4px 2px lightgrey;
        color: var(--White, #FFF);
    }
}

.filter-card {
    margin-left: 25px;
    margin-right: 25px;

    h2{
        text-align: start;
        
    }

    .btn {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .filter__white {
        display: flex;
        gap: 30px;
        align-items: center;
        border-radius: 20px;
        border: none;
        background: var(--Background, #F6F6F6);
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        padding: 25px;
    }

   p3 {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
   }
}

.menu__restaurant {
    margin: 40px;
    margin-left: 25px;
    margin-right: 25px;

    h2{
        text-align: start;
        font-size: 24px;
    }

    .restaurant__card {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .card {
        border-radius: 15px;
        background: #FFF;
        /* Shadow/Card */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    }

    .card img {
        width: 100%;
        height: 221px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    .card-txt {
        padding: 15px;
        padding-bottom: 10px;
    }

    .card-txt i {
        display: flex;
        justify-content: end;
        color: #000;
        padding-top: 10px;
    }

    h3 {
        font-size: 18px;
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    p1{
        font-size: 17px;
        font-weight: 300;
        font-family: roboto;
    }

}

footer {
    display: flex;
    padding: 22px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: var(--Grey, #353535);

    img {
        width: 120px;
        color: #F6F6F6;
    }

    li {
        color: var(--White, #FFF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        list-style-type: none;
    }

    i {
        gap: 5px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }

    a{
        color: inherit;
    }

}


/* MEDIA QUERIES*/

/*Tablet*/

@media (min-width: 1024px) {

    body {
        max-width: 1440px;
        margin: auto;
    }
   
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .filter-card .btn {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
    }

    .filter-card {
        display: flex;
        padding: 50px 180px;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        align-self: stretch;
    }

    .menu__restaurant {
        display: flex;
        padding: 0px 180px;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        align-self: stretch;
    }

    footer {
        display: flex;
        padding: 30px 25px;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 16px;
        flex-shrink: 0;
    }

    footer .contact {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 27px;
    }

}



